/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto+Sans+TC";
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 15px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
a:hover {
  opacity: 0.8;
}

.fz-s {
  font-size: 14px;
}

.fz-m {
  font-size: 20px;
}

.fz-l {
  font-size: 36px;
}

.fz-xl {
  font-size: 48px;
}

.pr-6 {
  margin-right: 48px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-6 {
  margin-bottom: 48px;
}

.txt-c-dark {
  color: #650300;
}

.txt-c-light {
  color: #AA0601;
}

header {
  background: #AA0601;
}
@media (max-width: 767px) {
  header .container {
    padding: 0;
  }
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  header .header {
    display: flex;
    flex-direction: column;
  }
}
header .header .logo {
  width: 80px;
  padding: 16px 0;
}
@media (max-width: 767px) {
  header .header .logo {
    padding-left: 15px;
    align-self: start;
  }
}

.nav-list {
  width: 492px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .nav-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .nav-list li {
    width: 50%;
    padding: 12px 62px;
    border: 1px solid #fff;
  }
}
@media (max-width: 767px) {
  .nav-list li a {
    width: 100%;
  }
}

footer {
  background: #AA0601;
  padding: 48px 0 32px 0;
}
@media (max-width: 767px) {
  footer {
    padding: 24px 0;
  }
}

@media (max-width: 767px) {
  .link {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.subnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
@media (max-width: 992px) {
  .subnav {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .subnav {
    margin-bottom: 56px;
  }
}
.subnav .subnav-list {
  width: 464px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .subnav .subnav-list {
    display: none;
  }
}
.subnav .sns {
  width: 208px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .subnav .sns {
    max-width: 152px;
  }
}
@media (max-width: 767px) {
  .subnav .sns {
    max-width: 88px;
  }
}
.subnav .sns img {
  width: 48px;
}
@media (max-width: 992px) {
  .subnav .sns img {
    max-width: 40px;
  }
}
@media (max-width: 767px) {
  .subnav .sns img {
    max-width: 24px;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .footer-contact {
    margin-bottom: 24px;
  }
}
.footer-contact .footer-contact-link {
  display: flex;
  align-items: center;
}
.footer-contact .footer-contact-link span {
  display: block;
  font-size: 36px;
  padding-right: 22px;
}
@media (max-width: 767px) {
  .footer-contact .footer-contact-link span {
    font-size: 16px;
    padding-right: 11px;
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .footer-contact .footer-contact-link p {
    font-size: 16px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  border-top: 1px solid #fff;
}
@media (max-width: 767px) {
  .copyright {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
  }
}
.copyright p {
  color: #fff;
}
@media (max-width: 767px) {
  .copyright p {
    margin-bottom: 8px;
  }
}
.copyright .term-link {
  display: flex;
}
@media (max-width: 767px) {
  .copyright .term-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.hero {
  background-image: url("../image/home-header.png");
  background-size: cover;
  background-position: center;
  padding: 296px 0;
}
@media (max-width: 767px) {
  .hero {
    background-image: url("../image/home-header-sm.png");
    padding: 144px 0;
  }
}
.hero .container {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
@media (max-width: 767px) {
  .hero .container .hero-minor-title {
    font-size: 16px;
  }
}
.hero .container .hero-title {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .hero .container .hero-title {
    font-size: 24px;
  }
}
.hero .container .hero-btn {
  float: right;
  padding: 6px 12px;
  background: #AA0601;
  color: #fff;
}

section {
  padding: 80px 0;
}
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
}

.service {
  background: #FBF2F2;
}
.service .service-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .service .service-title {
    font-size: 24px;
  }
}

.service-cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .service-cards {
    flex-wrap: wrap;
  }
}
.service-cards .card-item {
  width: 306px;
  text-align: center;
}
@media (max-width: 992px) {
  .service-cards .card-item {
    width: 48%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .service-cards .card-item {
    width: 100%;
  }
}
.service-cards .card-item .card-icon {
  width: 83px;
}
.service-cards .card-item .service-minor-title {
  font-size: 24px;
  font-weight: bold;
}
.service-cards .card-item p {
  text-align: justify;
  color: #000;
}

.products .product-title {
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  .products .product-title {
    margin-bottom: 24px;
  }
}

.product-cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .product-cards {
    flex-direction: column;
    align-items: center;
  }
}
.product-cards .product-cards-item {
  width: 32%;
}
@media (max-width: 992px) {
  .product-cards .product-cards-item {
    width: 336px;
  }
}
@media (max-width: 767px) {
  .product-cards .product-cards-item {
    width: 100%;
  }
}
.product-cards .product-cards-item .product-minor-title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-top: 8px;
}
@media (max-width: 992px) {
  .product-cards .product-cards-item .product-minor-title {
    margin-bottom: 24px;
  }
}

.co-branding {
  background-image: url("../image/index-bg.png");
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .co-branding {
    background-image: url("../image/index-bg-md.png");
  }
}
@media (max-width: 767px) {
  .co-branding {
    background-image: url("../image/index-bg-sm.png");
  }
}
.co-branding .co-branding-title {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.co-brianding-cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .co-brianding-cards {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .co-brianding-cards .item {
    margin-bottom: 24px;
  }
}
.co-brianding-cards .item .branding-minor-title {
  font-weight: bold;
  font-style: italic;
  text-align: center;
  background: #fff;
}

.recommends-title {
  font-weight: bold;
  text-align: center;
}
@media (max-width: 767px) {
  .recommends-title {
    margin-bottom: 24px;
  }
}

.recommends-cards {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .recommends-cards {
    flex-wrap: wrap;
  }
}

.recommends-cards-item {
  width: 306px;
  border: 1px solid #DEE2E6;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 992px) {
  .recommends-cards-item {
    width: 48%;
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .recommends-cards-item {
    width: 100%;
  }
}
.recommends-cards-item .item-content {
  padding: 16px;
}
.recommends-cards-item .item-content .client-name {
  font-weight: 500;
}
.recommends-cards-item .item-content span {
  display: block;
  margin-top: 72px;
  color: #707070;
}

.contact {
  background: #FBF2F2;
}
.contact .container {
  width: 636px;
}
@media (max-width: 767px) {
  .contact .container {
    width: 100%;
  }
}
.contact .container .contact-title {
  font-weight: bold;
  text-align: center;
}
.contact .container .contact-content {
  text-align: justify;
}

form {
  display: flex;
  flex-direction: column;
}
form label {
  margin-bottom: 8px;
}
form input {
  margin-bottom: 16px;
  line-height: 1.5;
  background: #FBF2F2;
  padding: 6px 0 6px 12px;
}
form .opinion-txt {
  padding: 6px 0 106px 12px;
}

.contact-btn {
  margin: 0 auto;
  width: 416px;
  padding: 16px 176px;
  background: #AA0601;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 992px) {
  .contact-btn {
    width: 336px;
    padding: 16px 136px;
  }
}
@media (max-width: 767px) {
  .contact-btn {
    width: 100%;
  }
}/*# sourceMappingURL=all.css.map */