header {
    background: $color-primary;

    .container {
        @include mobile {
            padding: 0;
        }
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
            display: flex;
            flex-direction: column;
        }

        .logo {
            width: 80px;
            padding: 16px 0;

            @include mobile {
                padding-left: 15px;
                align-self: start;
            }
        }
    }
}

.nav-list {
    width: 492px;
    display: flex;
    justify-content: space-between;

    @include mobile {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    li {
        @include mobile {
            width: 50%;
            padding: 12px 62px;
            border: 1px solid #fff;
        }

        a {
            @include mobile {
                width: 100%;
            }
        }
    }
}

footer {
    background: $color-primary;
    padding: 48px 0 32px 0;

    @include mobile {
        padding: 24px 0;
    }
}

.link {
    @include mobile {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.subnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;

    @include pad {
        margin-bottom: 30px;
    }

    @include mobile {
        margin-bottom: 56px;
    }

    .subnav-list {
        width: 464px;
        display: flex;
        justify-content: space-between;

        @include mobile {
            display: none;
        }
    }

    .sns {
        width: 208px;
        display: flex;
        justify-content: space-between;

        @include pad {
            max-width: 152px;
        }

        @include mobile {
            max-width: 88px;
        }

        img {
            width: 48px;

            @include pad {
                max-width: 40px;
            }

            @include mobile {
                max-width: 24px;
            }
        }

    }
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 32px;

    @include mobile {
        margin-bottom: 24px;
    }

    .footer-contact-link {
        display: flex;
        align-items: center;

        span {
            display: block;
            font-size: 36px;
            padding-right: 22px;

            @include mobile {
                font-size: 16px;
                padding-right: 11px;
                margin-bottom: 8px;
            }
        }

        p {
            @include mobile {
                font-size: 16px;
            }
        }
    }

}

.copyright {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid #fff;

    @include mobile {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
    }

    p {
        color: #fff;

        @include mobile {
            margin-bottom: 8px;
        }
    }

    .term-link {
        display: flex;

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
}