@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Bruno Ace SC";
  line-height: 1.5;
}

.container {
  width: 1296px;
  margin: 0 auto;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 12px 24px;
}

a:hover {
  opacity: 0.8;
}

header {
  background: #000;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  padding-top: 40px;
}
nav ul li .nav-item {
  display: block;
  color: #D1D1D1;
}

.txt-right {
  text-align: right;
}

footer {
  background: #000;
}
footer p {
  text-align: center;
  color: #fff;
  padding: 40px 0;
}

.hero {
  background: #000;
}
.hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 0;
}
.hero .container .content .hero-title {
  font-size: 64px;
  color: #fff;
}
.hero .container .content .txt-color {
  display: block;
  font-size: 128px;
  color: #00FFA3;
  text-align: right;
}

.hero-btn {
  display: inline-block;
  background: #fff;
  float: right;
  border-radius: 32px;
}

.intro {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
}
.intro .container {
  display: flex;
  padding: 160px 0;
}
.intro .container .content {
  width: 526px;
  color: #fff;
}
.intro .container .content h2 {
  margin-bottom: 36px;
}
.intro .container .content p {
  font-size: 24px;
  margin-bottom: 32px;
}
.intro .container .pics-item {
  width: 746px;
  display: flex;
  justify-content: space-between;
}

.about {
  display: flex;
  justify-content: space-between;
}
.about .cards {
  width: 636px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 206px 0;
}
.about .cards li {
  width: 306px;
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.0784313725);
}
.about .cards li .txt-num {
  font-size: 20px;
}
.about .cards li h3,
.about .cards li p {
  margin-bottom: 4px;
}
.about .content {
  width: 526px;
  padding: 160px 0;
  margin-bottom: 24px;
}
.about .content h2 {
  margin-bottom: 36px;
}
.about .content p {
  font-size: 24px;
}

.contact {
  background-image: linear-gradient(to bottom, #050014, #01021E);
  padding: 96px 0;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .container h2 {
  color: #fff;
  margin-right: 16px;
}
.contact .container .link {
  display: flex;
  justify-content: space-between;
  width: 526px;
}

.link-pic {
  border-radius: 40px;
  transition: all 0.5s;
}
.link-pic:hover {
  box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.9), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.projects {
  padding: 160px 0;
}
.projects .txt {
  display: flex;
  justify-content: flex-end;
}
.projects .txt h2 {
  width: 746px;
  margin-bottom: 16px;
}

.project-item {
  display: flex;
  justify-content: space-between;
}
.project-item .article {
  display: flex;
  width: 856px;
  margin-bottom: 28px;
}
.project-item .article .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 24px;
}
.project-item .article .article-btn {
  width: 185px;
  background: #000;
  color: #fff;
  border-radius: 32px;
  display: inline-block;
}

.item-pic {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=all.css.map */