@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Bruno Ace SC";
    line-height: 1.5;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 20px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 12px 24px;
}

a:hover {
    opacity: 0.8;
}