header {
    background: #000;
}

nav {
    ul {
        display: flex;
        justify-content: space-between;

        li {
            font-size: 16px;
            padding-top: 40px;
            a {
                width: 306px;
                display: block;
                text-decoration: none;
                color: $txt-gray;
                padding: 0;
            }
        }
    }
}

.txt-right {
    text-align: right;
}

footer {
    background: #000;

    p {
        text-align: center;
        color: #fff;
        padding: 40px 0;
    }
}
