header {
    background: #000;
}

nav {
    ul {
        display: flex;
        justify-content: space-between;

        li {
            padding-top: 40px;

            .nav-item {
                display: block;
                color: $txt-gray;
            }
        }
    }
}

.txt-right {
    text-align: right;
}

footer {
    background: #000;

    p {
        text-align: center;
        color: #fff;
        padding: 40px 0;
    }
}