.hero {
    background: #000;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 72px 0;

        .content {
            .hero-title {
                font-size: 64px;
                color: #fff;
            }

            .txt-color {
                display: block;
                font-size: 128px;
                color: $txt-lightGreen;
                text-align: right;
            }
        }
    }
}

.hero-btn {
    display: inline-block;
    background: #fff;
    float: right;
    border-radius: 32px;
}

.intro {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");

    .container {
        display: flex;

        padding: 160px 0;

        .content {
            width: 526px;
            color: #fff;

            h2 {
                margin-bottom: 36px;
            }

            p {
                font-size: 24px;
                margin-bottom: 32px;
            }
        }

        .pics-item {
            width: 746px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.about {
    display: flex;
    justify-content: space-between;

    .cards {
        width: 636px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 206px 0;

        li {
            width: 306px;
            padding: 16px;
            margin-bottom: 24px;
            border: 1px solid #E3E3E3;
            box-shadow: 4px 4px 4px 0px #00000014;

            .txt-num {
                font-size: 20px;
            }

            h3,
            p {
                margin-bottom: 4px;
            }
        }
    }

    .content {
        width: 526px;
        padding: 160px 0;
        margin-bottom: 24px;

        h2 {
            margin-bottom: 36px;
        }

        p {
            font-size: 24px;
        }
    }
}

.contact {
    background-image: linear-gradient(to bottom, #050014, #01021E);
    padding: 96px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            color: #fff;
            margin-right: 16px;
        }

        .link {
            display: flex;
            justify-content: space-between;
            width: 526px;
        }
    }
}

.link-pic {
    border-radius: 40px;
    transition: all 0.5s;

    &:hover {
        box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.projects {
    padding: 160px 0;

    .txt {
        display: flex;
        justify-content: flex-end;

        h2 {
            width: 746px;
            margin-bottom: 16px;
        }
    }
}

.project-item {
    display: flex;
    justify-content: space-between;

    .article {
        display: flex;
        width: 856px;
        margin-bottom: 28px;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 24px;
        }

        .article-btn {
            width: 185px;
            background: #000;
            color: #fff;
            border-radius: 32px;
            display: inline-block;
        }
    }
}

.item-pic {
    display: flex;
    justify-content: space-between;
}